@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Artist Panel</h2>
<a class="btn btn-outline-primary" asp-controller="Artist" asp-action="CreateArtist">Create New</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
       
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Artists)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
              
                <td>
                    <a asp-controller="Artist" asp-action="EditArtist" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Artist" asp-action="DeleteArtist" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }


    </tbody>
</table>